.itemIconWrap {
  position: relative;
  display: flex;
}
.itemIconWrap img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}



.itemIconText {
  margin: 0px;
  position: absolute;
  font-size: 0.8rem;
  font-weight: 600;
  width: max-content;
  background-color: black;
  color: white;
  border-radius: 5px;
  align-items: center;
  padding: 5px;
  display: none;
  top: 100%;
}

.itemIconWrap:hover .itemIconText {
  display: block;
}

.itemIconText2 {
  right: 0;
}
