.subTitle {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 700;
  /* margin-right: 1.25rem; */
  /* margin-left: 1.25rem; */
  /* margin-bottom: 0.875rem; */
}

.subTitle > div:nth-child(1) {
  display: flex;
}

.scheduleTime {
  margin: 0px;
  margin-left: 8px;
  color: rgb(128 69 221);
}

.scheduleDateChange {
  /* display: flex; */
  /* align-items: center; */
}

.scheduleDateChange p {
  margin: 0px;
}

.scheduleDateChange img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

/* 모험 섬 표 */

.scheduleTable {
  border-radius: 10px;
  padding: 1.5rem 1rem;
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
}

.scheduleTable hr {
  margin: 1.25rem 0;
}

/* 이벤트 (필보, 카게, 태초) */

.scheduleEtc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scheduleEtcRow {
  display: flex;
  width: 100%;
  max-width: 340px;
}

.scheduleName {
  width: 100%;
  max-width: 340px;
  display: flex;
  align-items: center;
}

.scheduleName img {
  width: 20px;
  height: auto;
}

.scheduleEtcRow span {
  margin-left: 6px;
  font-size: 1rem;
  font-weight: 600;
}

.scheduleTime {
  font-weight: 600;
}

.fieldBoss .scheduleTime {
  color: rgb(213 145 55);
}

.chaosGate .scheduleTime{
  color: rgb(185 20 4);
}

.battleArena .scheduleTime {
  color: #685743;
}

.battleArenaOff {
  /* off 이미지가 투명화? 작업이 애매하게 되서 css 설정 */
  opacity: 0.4;
}

/* 모험 섬 */

.scheduleIsland {
  margin-top: 28px;
}

.scheduleIslandRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scheduleIslandBox {
  width: 100%;
  height: 90px;
  max-width: 340px;
  /* background-color: rgb(245 246 247); */
  /* border: 2px solid rgb(245 246 247); */
  border-radius: 10px;
  display: flex;
  min-width: 300px;
}

.scheduleIslandBoxOpacity {
  background-color: white;
  opacity: 0.5;
}

.scheduleIslandRow .scheduleIslandBox:nth-child(4),
.scheduleIslandRow .scheduleIslandBox:nth-child(5),
.scheduleIslandRow .scheduleIslandBox:nth-child(6) {
  margin-top: 10px;
}

.scheduleIslandImage {
  height: 64px;
  border-radius: 10px;
  margin: 13px 14px;
  margin-right: 0px;
}

.scheduleIslandBoxWrap {
  margin: 13px 14px;
  width: 100%;
}

.scheduleIslandBoxRow {
  display: flex;
}

.scheduleIslandCategory {
  /* color: rgb(243 143 0); */
  font-size: 0.875rem;
  padding: 2px 8px;
  text-align: center;
  /* background-color: rgb(243 143 0/0.2); */
  border-radius: 4px;
}

.scheduleIslandCategoryCard {
  color: rgb(243 143 0);
  background-color: rgb(243 143 0/0.2);
}

.scheduleIslandCategoryCoin {
  color: rgb(170 55 209);
  background-color: rgb(206 67 252/0.2);
}

.scheduleIslandCategoryGold {
  color: rgb(220 160 0);
  background-color: rgb(232 184 56/0.2);
}

.scheduleIslandCategoryShilling {
  color: rgb(125 131 149);
  background-color: rgb(125 131 149/0.2);
}

.scheduleIslandName {
  font-weight: 700;
  font-size: 1rem;
  margin-left: 0.625rem
}

.scheduleIslandCompensationImage {
  border-radius: 5px;
  margin-top: 10px;
}

.scheduleIslandCompensationImage > div:not(:nth-child(1)) > img {
  margin-left: 5px;
}

.scheduleAppearFont {
  margin: 0px;
  min-width: 70px;
  font-size: 0.9rem;
}

.scheduleLeaveFont {
  margin: 0px;
  min-width: 70px;
  color: rgb(177 181 195);
  font-size: 0.8rem;
}


/* 한 줄이지만, scroll 방식 */
/* @media (max-width: 1069px) {
  .scheduleIsland {
    overflow-x: scroll;
  }
  .scheduleIslandRow {
    flex-wrap: nowrap;
    min-height: 115px;
  }
  .scheduleIslandBox{
    margin: 0 8px;
  }
} */

/* 한 줄 1개 방식 */
@media (max-width: 1069px) {
  .scheduleTable {
    border: none;
    border-radius: 0px;
  }
  .scheduleEtc {
    width: 340px;
    margin: auto;
  }
  .scheduleEtcRow {
    margin: 4px 0;
  }
  .scheduleIsland {
    margin-top: 0px;
  }
  .scheduleIslandRow {
    justify-content: center;
  }
  .scheduleIslandBox{
    margin: 8px;
  }
}