.bodySection {
  max-width: 1120px;
  margin: auto;
}

/* 스케줄 타이틀 */
.schedule {
}

/* 공지사항 */
.notices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin-top: 2.5rem; */
  position: relative;
  z-index: 10;
}

.lostarkNotice, .kloaNotice {
  width: 100%;
  max-width: 550px;
}

.subTitle {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 1.25rem;
  margin-bottom: 0.875rem;
}

.noticeTable {
  /* background-color: white; */
  /* border: 2px solid rgb(230 232 236); */
  border-radius: 10px;
  padding: 20px 30px;
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
}

.noticeTableRow {
  display: flex;
  width: 100%;
}

.noticeTableRow:not(:nth-child(1)) {
  margin-top: 20px;
}

.noticeTableCategory {
  min-width: 60px;
  width: 60px;
  height: 28px;
  /* border: 1px solid rgb(230 232 236); */
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 0.875rem;
}

.noticeTableCategoryShop {
  color: #05b9b3;
}

.noticeTableCategoryCheck {
  color: #687de5;
}

.noticeTableCategoryEvent {
  color: #9c69bf;
}

.noticeTableRow a {
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: center;
}


@media (max-width: 960px) {
  .slideImage {
    display: none;
  }
}

@media (max-width: 1100px) {
  .subTitle {
    padding-left: 30px;
    padding-bottom: 0px;
    margin: 0;
    padding-top: 12px;
  }
  .noticeTable {
    border-radius: 0px;
    border: 0;
  }
  .lostarkNotice, .kloaNotice {
    max-width: none;
  }
  .kloaNotice {
    margin-top: 12px;
  }
}