.postBody {
  /* background-color: white; */
  display: flex;
  justify-content: center;
  min-height: 600px;
  width: 100%;
}

.postBodyWrap {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  max-width: 1120px;
  width: 100%;
}

.postBodyRow {
  padding: 0 30px;
}

.postBodyRow hr {
  --tw-gradient-from-position: ;
  --tw-gradient-to-position: ;
  --tw-gradient-to: #8045dd var(--tw-gradient-to-position);
  --tw-gradient-from: #5865f2 var(--tw-gradient-from-position);
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
  background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
  height: 2px;
  margin: 0;
}

.postTableRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border-bottom: 1px solid rgb(230 232 236); */
  height: 79px;
  transition-duration: 0.75ms;
}

.postCategory {
  /* color: rgb(53 57 69); */
  font-weight: 600;
  font-size: 14px;
  /* border: 1px solid #e5e7eb; */
  border-radius: 14px;
  width: 60px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postCategoryCheck {
  color: rgb(88 101 242);
}

.postCategoryEvent {
  color: rgb(221 69 191);
}

.postTitle {
  margin-left: 10px;
  /* color: rgb(53 57 69); */
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 688px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.postDate {
  /* color: rgb(53 57 69); */
  font-size: 13px;
  min-width: 70px;
  width: 80px;
  height: 22px;
}

.postViewCount {
 display: flex;
 align-items: center;
 /* color: rgb(53 57 69); */
 font-size: 13px;
}

.postViewCount span {
  margin-left: 8px;
}


.postBodyText {
  margin: 40px 30px;
  min-height: 200px;
}

.postBodyText pre {
  margin: 0;
  font-size: 1rem;
}

.postBodyText pre p {
  margin-top: 0; 
}

.postRecomendCount {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  /* color: rgb(125 131 149); */
  /* border: 1px solid rgb(230 232 236); */
  border-radius: 6px;
  width: 80px;
  height: 46px;
  transition-duration: .15s;
  cursor: pointer;
}

.postRecomendCount span {
  margin-left: 6px;
}

.postRecomendCount:hover {
  /* background-color: rgb(250 251 251); */
}

.postBodyButtonGroup {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(230 232 236);
  border-bottom: 1px solid rgb(230 232 236);
  height: 48px;
  margin-top: 30px;
  /* margin-bottom: 65px; */
  padding-top: 30px;
  padding-bottom: 65px;
}

.postBodyButtonGroup a {
  /* border: 1px solid rgb(230 232 236); */
  border-radius: .375rem;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowButtonGroup {
  display: flex;
  align-items: center;
  height: 46px;
}

.arrowButtonGroup a:nth-child(2) {
  margin-left: 10px;
}






/* 푸터 */
.postBodyFooter {
  padding: 0px;
}

.postBodyFooter .postTableRow {
  height: 48px;
}

.postFooterTitle {
  margin-left: 10px;
  /* color: rgb(53 57 69); */
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 688px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.postFooterTitle a {
  text-decoration: none;
  /* color: rgb(53 57 69); */
}

.postTableCurrentActive .postFooterTitle a {
  /* color: rgb(128 69 221); */
}

.postFooterDate {
  /* color: rgb(53 57 69); */
  font-size: 13px;
  width: 80px;
  height: 22px;
}

.postFooterViewCount {
 display: flex;
 align-items: center;
 /* color: rgb(53 57 69); */
 font-size: 13px;
}

.postFooterViewCount span {
  margin-left: 8px;
}

.postFooterRecomendCount {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  /* color: rgb(125 131 149); */
  /* border: 1px solid rgb(230 232 236); */
  border-radius: 6px;
  width: 80px;
  height: 22px;
  cursor: pointer;
}

.postFooterRecomendCount span {
  margin-left: 6px;
}



/* 관리자 */
.postManager {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
}

.postManager a,
.postManager span {
  /* border: 1px solid rgb(230 232 236); */
  border-radius: .375rem;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: rgb(53 57 69); */
  cursor: pointer;
}

.postManager a {
  text-decoration: none;
}

.postManager span {
  margin-left: 10px;
}

.postSecondWrap {
  display: flex;
  margin-left: 8px;
}

.postViewCount {
  margin-left: 8px;
}


@media (max-width: 600px) {
  .postBodyWrap {
    padding-bottom: 30px;
  }
  .postBodyRow {
    padding: 0px;
  }
  .postTableRow {
    flex-wrap: wrap;
    height: auto;
    margin-top: 4px;
    padding-bottom: 4px;
  }
  .postCategory {
    font-size: 12px;
    width: 55px;
    height: 26px;
    margin-left: 10px;
  }
  .postTitle {
    flex: 1 0;
    min-width: 300px;
  }
  .postTitle > span {
    width: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
  }
  .postSecondWrap {
    width: 100%;
    min-width: 220px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    margin-top: 4px;
  }
  .postViewCount {
    margin-left: 10px;
  }
  .postBodyText {
    margin: 20px 15px;
  }
  .postRecomendCount {
    margin: 0 10px;
  }

  .postBodyButtonGroup {
    padding: 30px 10px 65px;
  }

  .postManager {
    padding: 0 10px;
  }
}