.signWrap {
  display: flex;
  justify-content: space-between;
  background-color: white;
  min-height: 650px;
}

.signFormWrap {
  width: 100%;
  display: flex;
}

.signForm {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.signForm h1 {
  color: rgb(53 57 69);
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.signFormInputWrap {
  width: 100%;
  margin-top: 50px;
}

.signFormInputWrap input {
  max-width: 365px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: rgb(53 57 69);
  border: 2px solid rgb(230 232 236);
  min-height: 46px;
}

.idGroup, .authNumberGroup {
  display: flex;
  align-items: center;
}

.idGroup button,
.authNumberGroup button {
  background-color: white;
  border: 0 solid #e5e7eb;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 5rem;
  margin: 0px;
  padding: 0px;
  min-height: 51.2px;
  color: rgb(125 131 149);
}

.authNumberGroup, .pwdGroup, .pwdCheckGroup, .privacyGroup, .signButton, .lastGroup {
  margin-top: 1.25rem;
}

.pwdGroup input,
.pwdCheckGroup input {
  border-radius: 10px;
}

.privacyGroup {
  display: flex;
  align-items: center;
}

.privacyGroup a {
  text-decoration: none;
}

.privacyGroup a {
  color: rgb(88 101 242);
}

.privacyGroup svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  align-self: center;
}

.privacyGroup span {
  font-weight: 600;
  font-size: .875rem;
  color: rgb(53 57 69);
  margin-left: 0.5rem;
  margin-bottom: auto;
  margin-top: auto;
}

.signButton {
  color: rgb(255 255 255);
  font-weight: 600;
  font-size: 1.125rem;
  --tw-gradient-to-position: ;
  --tw-gradient-from-position: ;
  --tw-gradient-to: #8045dd var(--tw-gradient-to-position);
  --tw-gradient-from: #5865f2 var(--tw-gradient-from-position);
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
  background-image: linear-gradient(to right,var(--tw-gradient-stops));
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 48px;
  width: 100%;
  border: none;
}

.lastGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.lastGroup a {
  color: rgb(88 101 242);
  font-size: .75rem;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 1535px) {
  .signupArt {
    display: none;
  }
}