.itemIconWrap {
  position: relative;
}
.itemIconWrap img {
  cursor: pointer;
}

.itemIconText {
  margin: 0px;
  position: absolute;
  font-size: 0.8rem;
  font-weight: 600;
  width: max-content;
  background-color: black;
  color: white;
  border-radius: 5px;
  align-items: center;
  padding: 5px;
  /* transform: translateX(-20%); */
  display: none;
}

.itemIconWrap:hover .itemIconText {
  /* display: flex; */
  display: block;
}

.itemIconText2 {
  right: 0;
  /* transform: translateX(-20%); */
}
